@font-face {
    font-family: 'YJ';
    src: url('http://portal.bimetehran.com/fonts//webyekan/Yekan.eot?#') format('eot'), /* IE6–8 */ url('http://portal.bimetehran.com/fonts//webyekan/Yekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('http://portal.bimetehran.com/fonts//webyekan/Yekan.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'NYJ';
    src: url('http://portal.bimetehran.com/fonts//webyekan/yekannumbers-regular.eot?#') format('eot'), /* IE6–8 */ url('http://portal.bimetehran.com/fonts//webyekan/yekannumbers-regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('http://portal.bimetehran.com/fonts//webyekan/yekannumbers-regular.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}